@font-face {
    font-family: 'nunito';
    src: url('../fonts/nunito.woff2') format('woff2');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a,
a:visited,
a:active,
a:link {
    text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

body {
    font-family: 'nunito';
}

.theme-btn {
    font-size: 16px;
    color: #ffffff;
    padding: 10px 20px;
    transition: all 0.5s;
    text-transform: capitalize;
    position: relative;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    border: none;
    background: #3C65F5;
    box-shadow: 0 3px 24px rgb(0 0 0 / 12%);
    z-index: 1;
}

.theme-btn:hover {
    background-color: #05264e;
}

.theme-btn svg {
    width: 18px;
    height: 18px;
    margin-left: 5px;
}

.title {
    padding: 0 25px;
    text-align: center;
    margin-bottom: 50px;
}

.title span {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 17px;
    font-weight: 700;
    color: #3C65F5;
    position: relative;
    padding-left: 4px;
}

.title h2 {
    font-weight: 800;
    text-transform: capitalize;
    font-size: 36px;
    color: #05264E;
    margin-top: 4px;
    margin-bottom: 0;
}

.title p {
    margin-top: 7px;
    font-size: 19px;
    font-weight: 600;
    text-transform: capitalize;
    color: #757F95;
    line-height: 1.8;
}

.pages header {
    height: 410px;
    background: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages header .header-text h2 {
    font-size: 42px;
    min-height: 51px;
    color: #05264E;
    font-weight: 800;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 800;
}

.pages header .header-text ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages header .header-text ul li {
    list-style: none;
    font-weight: 600;
    text-align: center;
    padding-right: 7px;
}

.pages header .header-text ul li svg {
    height: 25px;
    width: 25px;
    color: #05264E;
}

.pages header .header-text ul li:last-child {
    color: #3C65F5;
    padding-right: 0;
}

.my-p {
    padding-top: 85px;
    padding-bottom: 85px;
}

/* --------------------------------------- */

nav {
    padding: 20px 0 !important;
}

nav ul li {
    margin-right: 27px;
}

nav ul li a {
    padding: 20px 0 20px 0 !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    color: #05264E !important;
    text-transform: capitalize !important;
}

nav ul li a:hover {
    color: #3C65F5 !important;
}

nav ul li a.active {
    color: #3C65F5 !important;
}

nav h2 {
    font-size: 45px;
    font-weight: 800;
    margin: 0;
}

nav h2 span {
    color: #3C65F5;
}

.my-nav {
    height: 75px !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    background: rgb(255 255 255 / 80%);
}

.my-nav .navbar-brand img {
    max-height: 59px;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.my-slider {
    height: 80vh;
    max-height: 80vh;
    overflow: hidden;
}

.my-slider .myslider-item {
    width: 100%;
    height: 80vh;
    position: relative;
}

.my-slider .myslider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.my-slider .myslider-item .slider-txt {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .6);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

.my-slider .myslider-item .slider-txt h2 {
    color: #ffffff;
    max-width: 850px;
    margin: 0 auto;
    width: 85%;
    text-align: center;
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 50px;
}

.my-slider .myslider-item .slider-txt p {
    color: #ffffff;
    width: 85%;
    text-align: center;
    font-size: 24px;
    line-height: 1.8;
    max-width: 850px;
    margin: 0 auto;
}

.first-bg {
    background: transparent;
}

/* --------------------------------------- */

.category {
    padding: 120px 0 85px;
}

.category-icon {}

.category-icon .item {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 25px;
    border: 1px solid rgba(0, 0, 0, .08);
    transition: all .5s ease-in-out;
}

.category-icon .item .icon {
    background: rgba(60, 101, 245, .1);
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-size: 40px;
    color: #3C65F5;
    border-radius: 15px;
    transition: all .5s ease-in-out;
}

.category-icon .item .icon svg {
    width: 35px;
    height: 35px;
    position: relative;
    top: -2px;
}

.category-icon .item .content h6 {
    font-size: 17px;
    margin-bottom: 3px;
    color: #05264E;
    font-weight: 700;
    line-height: 1.4;
}

.category-icon .item .content p {
    font-weight: 500;
    color: #757F95;
    font-size: 15px;
    margin-bottom: 0;
}

.category-icon .item:hover {
    transform: translateY(-8px);
}

.category-icon .item:hover .icon {
    color: #fff;
    background-color: #3C65F5;
}


/* --------------------------------------- */
.travels {
    padding: 120px 0 120px;
    background-color: #F2F6FD;
}

.travels h2 {
    font-weight: 800;
    text-transform: capitalize;
    font-size: 35px;
    color: #05264E;
    margin-top: 4px;
    margin-bottom: 50px;
    padding: 0 15px;
}

.travels h2 span {
    color: #3C65F5;
}

.travels .travel-item {
    height: 285px;
    border-radius: 15px;
    overflow: hidden;
    margin: 6px 0;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
    position: relative;
}

/* .travels .travel-item::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.3;
    transition: all .5s ease-in-out;
} */
.travels .travel-item::after {
    position: absolute;
    content: "";
    opacity: .8;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0), #1a1a1a);
    border-radius: 0 0 10px 10px;
    z-index: 1;
}

.travels .travel-item span {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0;
    background-color: #c05234;
    padding: 5px 15px;
    font-size: 16px;
    color: #fff;
    border-radius: 50px;
    z-index: 5;
    transition: all .5s ease-in-out;
}

.travels .travel-item:hover span {
    transition: all .5s ease-in-out;
    opacity: 1;
}

.travels .travel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all .5s ease-in-out;
    transform: scale(1);
}

.travels .travel-item .txt {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 20px 5px;
    color: #fff;
    z-index: 5;
}

.travels .travel-item .txt>div {
    display: inline-block;
    width: 0;
    height: 3px;
    background-color: #3785ca;
    position: relative;
    left: 0;
    top: -5px;
    transition: all .5s ease-in-out;
}

.travels .travel-item:hover .txt>div {
    transition: all .5s ease-in-out;
    width: 100%;
}

.travels .travel-item .txt h5 {
    font-weight: 600;
    margin: 0;
}

.travels .travel-item:hover img {
    transform: scale(1.08);
    transition: all .5s ease-in-out;
}

.travel-information {
    padding: 120px 0;
}

.travel-information .header-if h3 {
    font-size: 36px;
    color: #05264E;
    margin-bottom: 35px;
    font-weight: 800;
}

.travel-information .header-if p {
    margin-bottom: 25px;
    color: #757F95;
    line-height: 1.9;
    font-size: 17px;
}

.travel-information .box {
    background: #F5F7FA;
    border-left: 5px solid #3C65F5;
    padding: 30px;
    font-size: 17px;
    font-style: italic;
    margin: 20px 0;
    border-radius: 15px;
}

.travel-information .box-info {
    display: flex;
    justify-content: start;
    align-items: center;
    background: #F5F7FA;
    border-radius: 15px;
    margin: 20px auto;
    padding: 25px;
}

.travel-information .box-info h6 {
    font-size: 17px;
    font-weight: 800;
}

.travel-information .box-info h3 {
    font-size: 24px;
    color: #3C65F5;
    margin: 15px 0 20px;
}

.travel-information .box-info p {
    color: #757F95;
    margin-bottom: 8px;
    font-size: 17px;
}

/* --------------------------------------- */
.contact {}

.contact .contact-form {
    padding: 120px 0 65px;
}

.contact .contact-form .contact-body {
    background: #fff;
    border-radius: 10px;
    padding: 30px 30px;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
}

.contact .contact-form .contact-body h2 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #05264E;
}

.contact .contact-form .contact-body p {
    margin-bottom: 30px;
    color: #757F95;
    font-weight: 500;
}

.contact .contact-form .social-list {
    background: #fff;
    border-radius: 10px;
    padding: 30px 30px;
    position: relative;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
}

.contact .contact-form .social-list .item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 20px;
    border: 2px solid #587AF3;
    border-radius: 15px;
    margin-bottom: 25px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.contact .contact-form .social-list .item:hover {
    background-color: #e4e9fb;
    transition: all .5s ease-in-out;
    transform: translateY(-6px);
}

.contact .contact-form .social-list .item .icon {
    font-size: 25px;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50px;
    background: #3C65F5;
}

.contact .contact-form .social-list .item .icon svg {
    width: 35px;
    height: 35px;
    position: relative;
    top: -2px;
}

.contact .contact-form .social-list .item .content h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #05264E;
}

.contact .contact-form .social-list .item .content p {
    font-weight: 500;
    color: #757F95;
    font-size: 15px;
    margin-bottom: 0;
}

.team .myteam {
    text-align: center;
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .08);
    margin-bottom: 25px;
    position: relative;
    transition: all .5s ease-in-out;
    z-index: 1;
    margin-bottom: 120px;
}

.team .myteam:hover {
    transform: translateY(-6px);
    transition: all .5s ease-in-out;
}

.team .myteam img {
    border-radius: 15px;
}

.team .myteam h5 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.team .myteam p {
    color: #3C65F5;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

/* --------------------------------------- */
.comment {
    padding: 120px 0;
}

.comment .item {
    background: #F2F6FD;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    margin-top: 7px;
}

.comment .item span.icon {
    position: absolute;
    right: 30px;
    bottom: 5px;
    font-size: 80px;
    color: #3C65F5;
    opacity: .1;
}

.comment .item span.icon svg {
    width: 75px;
    height: 75px;
}

.comment .item .score {
    color: #3C65F5;
    margin-bottom: 11px;
}

.comment .item .score svg {
    width: 19px;
    height: 19px;
}

.comment .item .score span.active {
    color: #757F95;
}

.comment .item p {
    font-size: 17px;
    font-weight: 300;
    color: #757F95;
    line-height: 1.8;
    margin: 0;
}

.comment .item .avatar {
    margin-top: 15px;
}

.comment .item .avatar img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 15px;
}

.comment .item .avatar .txt h5 {
    color: #05264E;
    margin: 0px;
    font-weight: 700;
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 1.4;
    font-size: 17px;
}

.comment-form select {
    font-size: 1rem !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* --------------------------------------- */

.comments {}

.comments .comment-form {
    padding: 120px 0;
    background-color: #F2F6FD;
}

.comments .comment-form .comment-body {
    background: #fff;
    border-radius: 10px;
    padding: 45px;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
}

.comments .comment-form .comment-body h2 {
    font-size: 40px;
    margin-bottom: 45px;
    font-weight: 800;
    color: #05264E;
    text-align: center;
}

.my-alert {
    background: #3C65F5;
    border-radius: 20px;
    padding: 35px 25px;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.my-alert::before {
    content: "";
    position: absolute;
    width: 180px;
    height: 180px;
    background: #587AF3;
    border-radius: 50%;
    left: 10%;
    top: -50px;
    z-index: -1;
}

.my-alert::after {
    content: "";
    position: absolute;
    width: 180px;
    height: 180px;
    border: 20px solid #587AF3;
    border-radius: 50%;
    right: 10%;
    bottom: -50px;
    z-index: -1;
}

.my-alert h1 {
    color: #fff;
    font-weight: 800;
}

.my-alert p {
    color: #fff;
    font-size: 18px;
    margin: 10px 0 25px 0;
}

.my-alert a {
    display: inline-block;
    background-color: #fff;
    color: #3C65F5;
}

.my-alert a:hover {
    color: #fff;
}

.list-comment {
    padding: 120px 0;
}

.list-comment .item {
    margin: 10px;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    margin-bottom: 25px;
    box-shadow: 0 0 8px 5px rgb(0 0 0 / 5%);
    transition: all .5s ease-in-out;
}

.list-comment .item .item-header {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.list-comment .item .item-header img {
    height: 95px;
    width: 95px;
    object-fit: cover;
    margin-right: 11px;
    border-radius: 50px;
}

.list-comment .item .item-header h5 {
    color: #05264E;
    margin: 0px;
    font-weight: 800;
    line-height: 1.4;
    font-size: 17px;
}

.list-comment .item .item-header p {
    margin: 0;
    font-size: 16px;
    color: #757F95;
    line-height: 1.8;
}

.list-comment .item .item-header span.icon svg {
    width: 75px;
    height: 75px;
}

.list-comment .item .item-header .score {
    color: #3C65F5;
}

.list-comment .item .item-header .score svg {
    width: 19px;
    height: 19px;
}

.list-comment .item .item-header .score span.active {
    color: #757F95;
}

.list-comment .item .item-body {
    margin-top: 15px;
}

.list-comment .item .item-body p:first-child {
    color: #757F95;
    margin-bottom: 7px;
}

.list-comment .item .item-body p:first-child span {
    position: relative;
    top: -3px;
}

.list-comment .item .item-body p:last-child {
    background: #F2F6FD;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 5px 5px 5px 0;
    font-size: 16px;
    font-weight: 700;
    height: 145px;
    overflow-y: auto;
}

/* --------------------------------------- */
.tours {
    padding: 120px 0;
    background-color: #F2F6FD;
}

.tours .tours-item {
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 25px;
    background: #fff;
    border: 2px solid #fff;
    transition: all .3s ease;
}

.tours .tours-item:hover {
    border: 2px solid #3C65F5;
    transition: all .3s ease;
}


.tours .tours-item>div:first-child img {
    height: 230px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.tours .tours-item h5 {
    color: #05264E;
    margin: 0px;
    margin-top: 10px;
    font-weight: 700;
    line-height: 1.4;
    font-size: 20px;
}

.tours .tours-item p span {
    margin-right: 4px;
}

.tours .tours-item p svg {
    position: relative;
    width: 20px;
    height: 20px;
    top: -2px;
}

.tours .tours-item p {
    margin-top: 7px;
    color: #757F95;
    font-size: 16px;
    margin-bottom: 0;
}

/* --------------------------------------- */
.tours-page {}

.tours-page .tours-form {
    padding: 120px 0;
}

.tours-page .tours-form .tours-body {
    background: #fff;
    border-radius: 10px;
    padding: 30px 30px;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
}

.tours-page .tours-form .tours-body h2 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #05264E;
}

.tours-page .tours-form .tours-body p {
    margin-bottom: 30px;
    color: #757F95;
    font-weight: 500;
}

.tours-page .tours-form .tours-body select {
    font-size: 1rem !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.tours-page .tours-sidebar {}

.tours-page .tours-sidebar .item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .08);
    position: relative;
    transition: all .5s ease-in-out;
    margin-bottom: 15px;
}

.tours-page .tours-sidebar .item:hover {
    border-color: #3C65F5;
    transition: all .5s ease-in-out;
}

.tours-page .tours-sidebar .item .icon {
    font-size: 35px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    background: #3C65F5;
    text-align: center;
    color: #fff;
}

.tours-page .tours-sidebar .item .icon svg {
    width: 35px;
    height: 35px;
    position: relative;
    top: -2px;
}

.tours-page .tours-sidebar .item:last-child svg {
    top: 0px;
}

.tours-page .tours-sidebar .item .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tours-page .tours-sidebar .item h5 {
    font-size: 30px;
    color: #05264E;
    line-height: 1;
    font-weight: 800;
    margin: 0;
}

.tours-page .tours-sidebar .item p {
    margin: 0;
    margin-top: 5px;
    color: #3C65F5;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
}

.tours-info {
    padding: 120px 0;
}

.tours-info .tours-info-img {
    position: relative;
    padding: 0 40px 0 20px;

}

.tours-info .tours-info-img>img {
    border-radius: 15px;
}

.tours-info .tours-info-img::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: #ECF0FE;
    border-radius: 50%;
    left: -50px;
    top: -50px;
    z-index: -1;
}

.tours-info .tours-info-img .shape {
    position: absolute;
    right: 0px;
    bottom: -20px;
    z-index: -1;
}

.tours-info .tours-info-txt>span {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 17px;
    font-weight: 700;
    color: #3C65F5;
    position: relative;
    padding-left: 4px;
}

.tours-info .tours-info-txt>span::after {
    content: "";
    position: absolute;
    background-color: #3C65F5;
    border-radius: 50px;
    height: 18px;
    width: 100%;
    left: 0;
    bottom: -4px;
    opacity: 0.1;
}

.tours-info .tours-info-txt h2 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 36px;
    color: #05264E;
    margin-top: 15px;
    margin-bottom: 0;
}

.tours-info .tours-info-txt h2 span {
    color: #3C65F5;
}

.tours-info .tours-info-txt p {
    color: #757F95;
    font-weight: 600;
    line-height: 1.8;
    font-size: 17px;
}

.tours-info .tours-info-txt ul {
    margin: 0;
    padding: 0;
}

.tours-info .tours-info-txt ul li {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
    color: #757F95;
    display: flex;
    flex-wrap: nowrap;
}

.tours-info .tours-info-txt ul li span {
    background-color: #3C65F5;
    width: 22px;
    height: 22px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
}

.tours-info .tours-info-txt ul li span svg {
    width: 16px;
    height: 16px;
    color: #fff;
}



/* --------------------------------------- */
.about-page {}

.about-info-txt {
    padding: 0px 0 120px;
}

.about-info-txt .item {
    margin-bottom: 54px;
}

.about-info-txt .item h3 {
    font-size: 27px;
    color: #05264E;
    margin: 0px;
    margin-bottom: 23px;
    font-weight: 700;
}

.about-info-txt .item p {
    font-size: 18px;
    color: #757F95;
    line-height: 1.9;
    margin-bottom: 26px;
}

.about-info-txt .item p span {
    color: #05264E;
    font-weight: 800;
}

.about-info-txt .item ul {
    margin-bottom: 0;
    margin-top: 37px;
    padding: 0;
}

.about-info-txt .item ul li {
    margin-bottom: 18px;
    color: #757F95;
    list-style: none;
}

.faq {
    padding: 120px 0;
}

.faq .about-img {
    margin: auto auto;
    padding-top: 50px;
    position: relative;
    width: 85%;
    z-index: 1;
}

.faq .about-img::before {
    content: "";
    position: absolute;
    background: #3C65F5;
    left: -20px;
    top: 5px;
    width: 100%;
    height: 100%;
    border-radius: 50px 5px 50px 50px;
    z-index: -1;
}

.faq .about-img img {
    border-radius: 50px 5px 50px 50px;
    object-fit: cover;
}

.faq .about-txt {}

.faq .about-txt>div>span {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 17px;
    font-weight: 700;
    color: #3C65F5;
    position: relative;
    padding-left: 4px;
}

.faq .about-txt>div>span::after {
    content: "";
    position: absolute;
    background-color: #3C65F5;
    border-radius: 50px;
    height: 18px;
    width: 100%;
    left: 0;
    bottom: -4px;
    opacity: 0.1;
}

.accor {
    width: 100%;
}

.faq .about-txt>div>h2 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 35px;
    color: #05264E;
    margin-top: 15px;
}

.faq .about-txt>div>h2 span {
    color: #3C65F5;
}

.faq .accordion-item {
    border: none;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 15px !important;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
}

.faq .accordion-item button {
    font-family: 'nunito' !important;
    font-weight: 800;
}

/* --------------------------------------- */
.business {
    padding: 120px 0;
}

.business .txt {
    text-align: right;
}

.business .txt h2 {
    font-size: 35px;
    margin-bottom: 40px;
    font-weight: 800;
    text-transform: capitalize;
    color: #05264E;
}

.business .txt span {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -5px;
}

.business .txt span svg {
    width: 25px;
    height: 25px;
    color: #3C65F5;
}

.business .txt h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: capitalize;
    color: #05264E;
}

.business .txt p {
    color: #66789C;
    line-height: 1.5;
    font-size: 17px;
}


.business .box span {
    font-weight: 800;
    font-size: 25px;
}

.business .box p {
    font-weight: 600;
    font-size: 16px;
}

.business .box {
    background-color: #e2e2fc;
    color: #6b6bd4;
    text-align: center;
    padding: 50px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.business .one-box>div>div:first-child .box {
    color: #6b6bd4;
    background-color: #cae5fe;
}

.business .one-box>div>div:last-child .box {
    color: #c05234;
    background-color: #fbc7ba;
}

.business .two-box>div>div:last-child .box {
    color: #3785ca;
    background-color: #c0fedc;
}

/* --------------------------------------- */
.travels-form {
    padding: 120px 0;
}

.travels-form .travels-body {
    background: #fff;
    border-radius: 10px;
    padding: 45px;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
}

.travels-form .travels-body h2 {
    font-size: 40px;
    margin-bottom: 45px;
    font-weight: 800;
    color: #05264E;
    text-align: center;
}

.travels-page select {
    font-size: 1rem !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.list-pics {
    overflow: hidden;
    max-width: 2200px;
    margin: 0 auto;
}

.list-pics img {
    min-height: 500px;
    object-fit: cover;
}

.list-pics .item-pic {
    position: relative;
}

.list-pics .item-pic::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000 !important;
    opacity: .3;
}

.list-pics .item-pic>div {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: transparent linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .8)) repeat scroll 0 0;
    padding-top: 100px;
}

.list-pics .item-pic>div p {
    color: #fff;
    font-size: 22px;
    font-weight: 800;
    margin-left: 15px;
    border-left: 2px solid #fff;
    padding-left: 11px;
    margin-bottom: 30px;
    transition: all .5s ease-in-out;
}

.list-pics .item-pic:hover>div p {
    margin-bottom: 50px;
    transition: all .5s ease-in-out;
}


/* --------------------------------------- */
footer {
    background: #F2F6FD;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

footer::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: #3C65F5;
    left: 30%;
    top: -50px;
    border-radius: 50%;
    opacity: .08;
}

footer::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border: 20px solid #3C65F5;
    right: 30%;
    bottom: -50px;
    border-radius: 50%;
    opacity: .08;
}

footer .footer-sub {
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, .05);
}

footer .footer-sub p {
    color: #66789C;
    margin-bottom: 0px;
    font-size: 16px;
}

footer .footer-sub p span {
    color: #3C65F5;
    font-weight: 500;
}

footer .footer-sub .icons {
    margin-top: 8px;
}

footer .footer-sub .icons a {
    height: 38px;
    width: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 50px;
    background: #fff;
    color: #3C65F5;
    transition: all .5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

footer .footer-sub .icons a:hover {
    background-color: #3C65F5;
    color: #fff;
    transition: all .5s ease-in-out;
}

footer .footer-sub a svg {
    height: 21px;
    width: 21px;
}

footer .footer-body {
    padding: 100px 0 5px;
}

footer .footer-body>div:nth-child(1) {}

footer .footer-body>div:nth-child(1) h2 {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 30px;
}

footer .footer-body>div:nth-child(1) h2 span {
    color: #3C65F5;
}

footer .footer-body p {
    color: #66789C;
    padding-right: 18px;
    margin-bottom: 1.8rem;
}

footer .footer-body>div:nth-child(1) ul {
    margin: 0;
    padding: 0;
}

footer .footer-body>div:nth-child(1) ul li {
    list-style: none;
    color: #66789C;
    font-size: 16px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;

}

footer .footer-body>div:nth-child(1) ul li span svg {
    color: #fff;
    height: 20px;
    width: 20px;
}

footer .footer-body>div:nth-child(1) ul li span {
    background-color: #3C65F5;
    color: #fff;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    position: relative;
    top: -2px;
}

footer .footer-body h4 {
    color: #05264E;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 800;
    z-index: 1;
}

footer .footer-body h4::before {
    position: absolute;
    content: '';
    z-index: -1;
    width: 30px;
    height: 2.5px;
    background-color: #3C65F5;
    bottom: 0;
    left: 0;
}

footer .footer-body h4::after {
    position: absolute;
    content: '';
    z-index: -1;
    width: 10px;
    height: 2.5px;
    background-color: #3C65F5;
    bottom: 0;
    left: 35px;
}

footer .footer-body img {
    /* max-width: 125px; */
    max-width: 310px;
}

footer .footer-body>div:nth-child(2) li {
    list-style: none;
    margin-bottom: 10px;
}

footer .footer-body>div:nth-child(2) li a {
    color: #66789C;
    position: relative;
    padding-left: 10px;
    transition: all .5s ease-in-out;
    font-size: 18px;
}

footer .footer-body>div:nth-child(2) li a span {
    background-color: #66789C;
    transition: all .5s ease-in-out;
    width: 8px;
    position: relative;
    top: -3px;
    height: 2px;
    display: inline-block;
    margin-right: 5px;
}

footer .footer-body>div:nth-child(2) li a:hover {
    color: #3C65F5;
    transition: all .5s ease-in-out;
}

footer .footer-body>div:nth-child(2) li a:hover span {
    background-color: #3C65F5;
    width: 16px;
    transition: all .5s ease-in-out;
}

footer .footer-pic-list img {
    height: 75px;
    border: 2px solid #eee;
    padding: 5px;
    margin: 0 7px;
    transition: all .5s ease-in-out;
}

footer .footer-pic-list img:hover {
    transition: all .5s ease-in-out;
    transform: translateY(-6px);
}

.accordion-body {
    font-size: 17px;
}

/* ************************** */
.main-header-content {
    padding-top: 85px;
    margin-top: 36px;
}

.main-header-content .mhc-content {
    color: #fff;
    background-color: #3C65F5;
    border-radius: 24px;
    padding: 32px 39px;
}

.main-header-content .mhc-content h1 {
    font-size: 2.45rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.main-header-content .mhc-content p {
    font-size: 1.25rem;
    margin: 0;
    line-height: 2rem;
}

.main-header-content .mhc-content div a {
    padding: 10px 26px;
    font-size: 0.82rem;
    border-radius: 10px;
    font-weight: 700;
    text-align: center;
    box-shadow: 0px 0px 10px #948787;
    transition: box-shadow 0.275s ease-in;
}

.main-header-content .mhc-content div a:first-child {
    background-color: #fff;
    color: #2b9b99;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.main-header-content .mhc-content div a:last-child {
    background-color: #fae3a7;
    margin-left: 24px;
    color: #9b7103;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.main-header-content .mhc-content div a:first-child:hover {
    background-color: #2b9b99;
    color: #fff;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.main-header-content .mhc-content div a:last-child:hover {
    background-color: #9b7103;
    color: #fff;
    transition: color 0.3s ease, background-color 0.3s ease;
}

/* ****************** */
.img-pr-list {}

.img-pr-list .pr-item-img {
    max-height: 365px;
    border: 2px solid #3C65F5;
    border-radius: 24px;
    padding: 4px;
    cursor: pointer;
    background-color: #fff;
    transform: translateY(0px);
    margin-bottom: 24px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.img-pr-list .pr-item-img:hover {
    transform: translateY(-4px);
    transition: transform 0.3s ease;
}

.img-pr-list .pr-item-img img {
    width: 100%;
    height: 350px;
    max-height: 350px;
    object-fit: cover;
    border-radius: 16px;
}

/* ********************** */
.pr-sr {
    padding: 65px 0;
}

.pr-sr .pr-sr-item {
    margin-bottom: 24px;
    background-color: rgb(240, 242, 255);
    border: 1px solid rgb(240, 242, 255);
    border-radius: 24px;
    padding: 8px;
    transition: border 0.3s ease;
}

.pr-sr .pr-sr-item .ps-img {
    height: 195px;
    width: 215px;
    min-width: 215px;
    flex-basis: 215px;
    max-width: 215px;
    overflow: hidden;
    border-radius: 16px;
}

.pr-sr .pr-sr-item .ps-img img {
    width: 100%;
    height: 365px;
    object-fit: cover;
}

.pr-sr .pr-sr-item .ps-content {
    padding: 0 18px;
    flex-grow: 1;
}

.pr-sr .pr-sr-item .ps-content h4 {
    color: #212529;
    font-weight: 800;
    font-size: 1.45rem;
    margin: 0;
}

.pr-sr .pr-sr-item .ps-content p {
    margin: 0;
    color: #66789C;
    font-size: 0.92rem;
    font-weight: 600;
}

.pr-sr .pr-sr-item .ps-content div p {
    color: #3C65F5;
    border: 1px solid #3C65F5;
    border-radius: 8px;
    padding: 8px 16px 9px;
    font-size: 0.9rem;
    font-weight: 700;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.pr-sr .pr-sr-item .ps-content div span {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: rgb(62, 78, 255);
}

.pr-sr .pr-sr-item .ps-content div span svg {
    width: 30px;
    height: 30px;
    color: #fff;
}

.pr-sr .pr-sr-item:hover {
    border: 1px solid #3C65F5;
    transition: border 0.3s ease;
}

.pr-sr .pr-sr-item:hover .ps-content div p {
    color: #fff;
    background-color: #3C65F5;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.cta {
    border: 1px solid rgb(12, 141, 89);
    position: fixed;
    right: 16px;
    bottom: 16px;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    cursor: pointer;
    background-color: rgb(230, 254, 255);
    overflow: hidden;
    z-index: 99999;
}

.cta a {
    width: 100%;
    height: 100%;
}

.cta svg {
    width: 24px;
    height: 24px;
    color: rgb(12, 141, 89);
}

.my-map {
    padding: 16px;
    border: 1px solid #dee2e6;
    border-radius: 24px;
}